.app {
    background-color: #f5faff;
    position: relative;
}

.game {
    max-width: 500px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 4px;
    text-align: center;
}

.txt-open_sans {
    font-family: "Open Sans", sans-serif;
}

.txt-roboto {
    font-family: "Roboto", sans-serif;
}

.txt-fredoka_one {
    font-family: "Fredoka One", cursive;
}

.txt-work_sans {
    font-family: 'Work Sans', sans-serif;
}

.txt-dark{
    color: #12263f !important;
}